<div class="jumbotron text-center">
  <h1 class="display-4">Welcome To First Child First</h1>
  <p class="lead">
    This is a simple game made usign Angular 7.
  </p>
  <hr class="my-4" />
  <p>
    Click On Enter to Play The Game
  </p>
  <a
    class="btn btn-primary"
    href="https://github.com/rahzex/AngularGame"
    role="button"
    >Learn More</a
  >
</div>

<div class="d-flex align-items-center justify-content-center mt-5">
  <button
    routerLink="/playerDetails"
    type="button"
    class="btn btn-primary btn-lg"
  >
    ENTER GAME
  </button>
</div>
